<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your Order#<%= @order.id%>!</h1>

  <table>
    <% @order.line_items.each do |line_item| %>
      <%= render 'item', product_id: line_item.product_id, line_total: line_item.total_price %>
      <% end %>
    </table>
  </body>
</html> 